

/* 

Go to http://www.google.com/design/spec/style/color.html#color-color-palette

Inject jQuery

var jq = document.createElement('script');
jq.src = "https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js";
document.getElementsByTagName('head')[0].appendChild(jq);

Run

(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};
    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();
      var c = 'color-white';
      if ($(this).hasClass('color-black-strong')) c = 'color-black-strong';
      else if ($(this).hasClass('color-white-strong')) c = 'color-white-strong';
      colors[color][shade] = hex + " " + c;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();
  });

  var SASS = "$profiles: (\n";
  var i = 0;
  $.each(colors, function(name, shades) {
    if (name == "") return;
    SASS += "  " + name + ": (\n";
    var j = 0;
    $.each(shades, function(shade, data) {
      var hex = data.split(" ")[0];
      var color = data.split(" ")[1];
      SASS += "    " + shade + ": " + hex + " $" + color;
      if (j != Object.keys(shades).length - 1) {
        SASS += ",";
      }
      SASS += "\n";
      j++;
    });
    
    SASS +=  "  " + ")";

    if (i != Object.keys(colors).length - 2) {
      SASS += ",";
    }
    SASS += "\n";
    i++;
  });
  SASS += ")\n";
  console.log(SASS);
})();
*/

$profiles: (
  red: (
    50: #ffebee $color-black-strong,
    100: #ffcdd2 $color-black-strong,
    200: #ef9a9a $color-black-strong,
    300: #e57373 $color-black-strong,
    400: #ef5350 $color-black-strong,
    500: #f44336 $color-white-strong,
    600: #e53935 $color-white-strong,
    700: #d32f2f $color-white-strong,
    800: #c62828 $color-white,
    900: #b71c1c $color-white,
    A100: #ff8a80 $color-black-strong,
    A200: #ff5252 $color-white-strong,
    A400: #ff1744 $color-white-strong,
    A700: #d50000 $color-white-strong
  ),
  pink: (
    50: #fce4ec $color-black-strong,
    100: #f8bbd0 $color-black-strong,
    200: #f48fb1 $color-black-strong,
    300: #f06292 $color-black-strong,
    400: #ec407a $color-black-strong,
    500: #e91e63 $color-white-strong,
    600: #d81b60 $color-white-strong,
    700: #c2185b $color-white,
    800: #ad1457 $color-white,
    900: #880e4f $color-white,
    A100: #ff80ab $color-black-strong,
    A200: #ff4081 $color-white-strong,
    A400: #f50057 $color-white-strong,
    A700: #c51162 $color-white-strong
  ),
  purple: (
    50: #f3e5f5 $color-black-strong,
    100: #e1bee7 $color-black-strong,
    200: #ce93d8 $color-black-strong,
    300: #ba68c8 $color-white-strong,
    400: #ab47bc $color-white-strong,
    500: #9c27b0 $color-white,
    600: #8e24aa $color-white,
    700: #7b1fa2 $color-white,
    800: #6a1b9a $color-white,
    900: #4a148c $color-white,
    A100: #ea80fc $color-black-strong,
    A200: #e040fb $color-white-strong,
    A400: #d500f9 $color-white-strong,
    A700: #aa00ff $color-white-strong
  ),
  deep-purple: (
    50: #ede7f6 $color-black-strong,
    100: #d1c4e9 $color-black-strong,
    200: #b39ddb $color-black-strong,
    300: #9575cd $color-white-strong,
    400: #7e57c2 $color-white-strong,
    500: #673ab7 $color-white,
    600: #5e35b1 $color-white,
    700: #512da8 $color-white,
    800: #4527a0 $color-white,
    900: #311b92 $color-white,
    A100: #b388ff $color-black-strong,
    A200: #7c4dff $color-white-strong,
    A400: #651fff $color-white,
    A700: #6200ea $color-white
  ),
  indigo: (
    50: #e8eaf6 $color-black-strong,
    100: #c5cae9 $color-black-strong,
    200: #9fa8da $color-black-strong,
    300: #7986cb $color-white-strong,
    400: #5c6bc0 $color-white-strong,
    500: #3f51b5 $color-white,
    600: #3949ab $color-white,
    700: #303f9f $color-white,
    800: #283593 $color-white,
    900: #1a237e $color-white,
    A100: #8c9eff $color-black-strong,
    A200: #536dfe $color-white-strong,
    A400: #3d5afe $color-white-strong,
    A700: #304ffe $color-white
  ),
  blue: (
    50: #e3f2fd $color-black-strong,
    100: #bbdefb $color-black-strong,
    200: #90caf9 $color-black-strong,
    300: #64b5f6 $color-black-strong,
    400: #42a5f5 $color-black-strong,
    500: #2196f3 $color-white-strong,
    600: #1e88e5 $color-white-strong,
    700: #1976d2 $color-white-strong,
    800: #1565c0 $color-white,
    900: #0d47a1 $color-white,
    A100: #82b1ff $color-black-strong,
    A200: #448aff $color-white-strong,
    A400: #2979ff $color-white-strong,
    A700: #2962ff $color-white-strong
  ),
  light-blue: (
    50: #e1f5fe $color-black-strong,
    100: #b3e5fc $color-black-strong,
    200: #81d4fa $color-black-strong,
    300: #4fc3f7 $color-black-strong,
    400: #29b6f6 $color-black-strong,
    500: #03a9f4 $color-white-strong,
    600: #039be5 $color-white-strong,
    700: #0288d1 $color-white-strong,
    800: #0277bd $color-white-strong,
    900: #01579b $color-white,
    A100: #80d8ff $color-black-strong,
    A200: #40c4ff $color-black-strong,
    A400: #00b0ff $color-black-strong,
    A700: #0091ea $color-white-strong
  ),
  cyan: (
    50: #e0f7fa $color-black-strong,
    100: #b2ebf2 $color-black-strong,
    200: #80deea $color-black-strong,
    300: #4dd0e1 $color-black-strong,
    400: #26c6da $color-black-strong,
    500: #00bcd4 $color-white-strong,
    600: #00acc1 $color-white-strong,
    700: #0097a7 $color-white-strong,
    800: #00838f $color-white-strong,
    900: #006064 $color-white,
    A100: #84ffff $color-black-strong,
    A200: #18ffff $color-black-strong,
    A400: #00e5ff $color-black-strong,
    A700: #00b8d4 $color-black-strong
  ),
  teal: (
    50: #e0f2f1 $color-black-strong,
    100: #b2dfdb $color-black-strong,
    200: #80cbc4 $color-black-strong,
    300: #4db6ac $color-black-strong,
    400: #26a69a $color-black-strong,
    500: #009688 $color-white-strong,
    600: #00897b $color-white-strong,
    700: #00796b $color-white-strong,
    800: #00695c $color-white,
    900: #004d40 $color-white,
    A100: #a7ffeb $color-black-strong,
    A200: #64ffda $color-black-strong,
    A400: #1de9b6 $color-black-strong,
    A700: #00bfa5 $color-black-strong
  ),
  green: (
    50: #e8f5e9 $color-black-strong,
    100: #c8e6c9 $color-black-strong,
    200: #a5d6a7 $color-black-strong,
    300: #81c784 $color-black-strong,
    400: #66bb6a $color-black-strong,
    500: #4caf50 $color-white-strong,
    600: #43a047 $color-white-strong,
    700: #388e3c $color-white-strong,
    800: #2e7d32 $color-white,
    900: #1b5e20 $color-white,
    A100: #b9f6ca $color-black-strong,
    A200: #69f0ae $color-black-strong,
    A400: #00e676 $color-black-strong,
    A700: #00c853 $color-black-strong
  ),
  light-green: (
    50: #f1f8e9 $color-black-strong,
    100: #dcedc8 $color-black-strong,
    200: #c5e1a5 $color-black-strong,
    300: #aed581 $color-black-strong,
    400: #9ccc65 $color-black-strong,
    500: #8bc34a $color-white,
    600: #7cb342 $color-white,
    700: #689f38 $color-white,
    800: #558b2f $color-white-strong,
    900: #33691e $color-white-strong,
    A100: #ccff90 $color-black-strong,
    A200: #b2ff59 $color-black-strong,
    A400: #76ff03 $color-black-strong,
    A700: #64dd17 $color-black-strong
  ),
  lime: (
    50: #f9fbe7 $color-black-strong,
    100: #f0f4c3 $color-black-strong,
    200: #e6ee9c $color-black-strong,
    300: #dce775 $color-black-strong,
    400: #d4e157 $color-black-strong,
    500: #cddc39 $color-black-strong,
    600: #c0ca33 $color-black-strong,
    700: #afb42b $color-white,
    800: #9e9d24 $color-white,
    900: #827717 $color-white-strong,
    A100: #f4ff81 $color-black-strong,
    A200: #eeff41 $color-black-strong,
    A400: #c6ff00 $color-black-strong,
    A700: #aeea00 $color-black-strong
  ),
  yellow: (
    50: #fffde7 $color-black-strong,
    100: #fff9c4 $color-black-strong,
    200: #fff59d $color-black-strong,
    300: #fff176 $color-black-strong,
    400: #ffee58 $color-black-strong,
    500: #ffeb3b $color-black-strong,
    600: #fdd835 $color-black-strong,
    700: #fbc02d $color-black-strong,
    800: #f9a825 $color-black-strong,
    900: #f57f17 $color-white,
    A100: #ffff8d $color-black-strong,
    A200: #ffff00 $color-black-strong,
    A400: #ffea00 $color-black-strong,
    A700: #ffd600 $color-black-strong
  ),
  amber: (
    50: #fff8e1 $color-black-strong,
    100: #ffecb3 $color-black-strong,
    200: #ffe082 $color-black-strong,
    300: #ffd54f $color-black-strong,
    400: #ffca28 $color-black-strong,
    500: #ffc107 $color-black-strong,
    600: #ffb300 $color-black-strong,
    700: #ffa000 $color-white,
    800: #ff8f00 $color-white,
    900: #ff6f00 $color-white,
    A100: #ffe57f $color-black-strong,
    A200: #ffd740 $color-black-strong,
    A400: #ffc400 $color-black-strong,
    A700: #ffab00 $color-black-strong
  ),
  orange: (
    50: #fff3e0 $color-black-strong,
    100: #ffe0b2 $color-black-strong,
    200: #ffcc80 $color-black-strong,
    300: #ffb74d $color-black-strong,
    400: #ffa726 $color-black-strong,
    500: #ff9800 $color-white,
    600: #fb8c00 $color-white,
    700: #f57c00 $color-white,
    800: #ef6c00 $color-white-strong,
    900: #e65100 $color-white-strong,
    A100: #ffd180 $color-black-strong,
    A200: #ffab40 $color-black-strong,
    A400: #ff9100 $color-black-strong,
    A700: #ff6d00 $color-white
  ),
  deep-orange: (
    50: #fbe9e7 $color-black-strong,
    100: #ffccbc $color-black-strong,
    200: #ffab91 $color-black-strong,
    300: #ff8a65 $color-black-strong,
    400: #ff7043 $color-black-strong,
    500: #ff5722 $color-white-strong,
    600: #f4511e $color-white-strong,
    700: #e64a19 $color-white-strong,
    800: #d84315 $color-white-strong,
    900: #bf360c $color-white-strong,
    A100: #ff9e80 $color-black-strong,
    A200: #ff6e40 $color-black-strong,
    A400: #ff3d00 $color-white-strong,
    A700: #dd2c00 $color-white-strong
  ),
  brown: (
    50: #efebe9 $color-black-strong,
    100: #d7ccc8 $color-black-strong,
    200: #bcaaa4 $color-black-strong,
    300: #a1887f $color-white-strong,
    400: #8d6e63 $color-white-strong,
    500: #795548 $color-white,
    600: #6d4c41 $color-white,
    700: #5d4037 $color-white,
    800: #4e342e $color-white,
    900: #3e2723 $color-white
  ),
  grey: (
    50: #fafafa $color-black-strong,
    100: #f5f5f5 $color-black-strong,
    200: #eeeeee $color-black-strong,
    300: #e0e0e0 $color-black-strong,
    400: #bdbdbd $color-black-strong,
    500: #9e9e9e $color-white,
    600: #757575 $color-white,
    700: #616161 $color-white,
    800: #424242 $color-white,
    900: #212121 $color-white
  ),
  blue-grey: (
    50: #eceff1 $color-black-strong,
    100: #cfd8dc $color-black-strong,
    200: #b0bec5 $color-black-strong,
    300: #90a4ae $color-black-strong,
    400: #78909c $color-white-strong,
    500: #607d8b $color-white-strong,
    600: #546e7a $color-white,
    700: #455a64 $color-white,
    800: #37474f $color-white,
    900: #263238 $color-white
  )
);

@function profile($profile, $weight) {
  @return map-get(map-get($profiles, $profile), $weight);
}

@function color($profile, $weight) {
  @return nth(map-get(map-get($profiles, $profile), $weight), 1);
}

@mixin colorprofile($profile, $weight) {
  background-color: nth(profile($profile, $weight), 1);
  color: nth(profile($profile, $weight), 2);
}

// Create .mtr-{$colorname}-{$weight} classes
@each $profile in map-keys($profiles) {
  
  $weights: map-get($profiles, $profile);
  
  @each $weight in map-keys($weights) {
    .mtr-#{$profile}-#{$weight} {
      background-color: nth(profile($profile, $weight), 1);
      color: nth(profile($profile, $weight), 2);
    }

    .mtr-fg-#{$profile}-#{$weight} {
      color: nth(profile($profile, $weight), 1);
    }
  }
}


// Special for black/white background
.mtr-black {
  background-color: $color-black-strong;
  color: $color-white-strong;
}

.mtr-white {
  background-color: $color-white-strong;
  color: $color-black-strong;
}
