
// ------------------------
// Jumbotron component
// --------------------------------------------------
  .container .jumbotron, 
  .container-fluid .jumbotron {
    background-color: #fff;
    border-radius: 3px;
    padding: $basespacing*6px;
    @include shadow(1);
  }