//-----------------
// Ripple effect
//----------------------------------
.mtr-btn {
  position: relative;

  .mtr-ripple-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
  }

  .mtr-ripple-wrapper + * {
    z-index: 1;
    position: relative;
  }

  .mtr-ripple {
    position: absolute;
    width: 1px;
    height: 1px;
    margin-left: -.5px;
    margin-top: -.5px;
    border-radius: 100%;
    background-color: $color-ripple;
    transform: scale(1);
    transform-origin: 50%;
    opacity: .5;
    pointer-events: none;

    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    
    transition: opacity 0.4s linear .1s, width 0.4s ease, height 0.4s ease, margin 0.4s ease; 
    will-change: opacity, width, height, margin;
    &.out {
      opacity: 0;
    }
  }

  &.ripple-light .mtr-ripple { background-color: $color-ripple-light; }
}